input.a{
    background-color: yellowgreen;
    border-top: 5px solid red;
    border-bottom:5px solid blue;
    border-left:5px solid orangered;
    border-right:5px solid purple;
    padding: 20px;
    width: 300px;
    color: black;
    border-radius: 10px;
}
::placeholder{
    color: red;
    font-size: 20px;
}
button{
    background-color: yellow;
    margin-top: 40px;
    margin-left: 30%;
    font-size: 20px;
    color: blue;
    padding: 10px;
    width: 150px;
    border: 5px double black;

}
